@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<br /><br />
<div class="TitleString"><center>Welcome to:</center></div>
<div class="TitleString"><center><b>BPEC Content Management Administration Portal Home</b></center></div>
<br/>

<br />
