@{
    ViewBag.Title = "Home Page";
}
@section featured {
}
<!--Slider Table-->
    <table align="center" cellpadding="0" cellspacing="0" width="930">
      <tr>
        <td>
          <div class="box_skitter box_skitter_large">
          	<ul>
          		<li>
          			<a href="#cut"><img src="~/Images/001.jpg" class="cut" /></a>
          			<div class="label_text"><p>cut</p></div>
          		</li>
          		<li>
          			<a href="#swapBlocks"><img src="~/Images/002.jpg" class="swapBlocks" /></a>
          			<div class="label_text"><p>swapBlocks</p></div>
          		</li>
          		<li>
          			<a href="#swapBarsBack"><img src="~/Images/003.jpg" class="swapBarsBack" /></a>
          			<div class="label_text"><p>swapBarsBack</p></div>
          		</li>
          	</ul>
          </div>
        </td>
      </tr>
    </table>
    <!--Middle Table-->
    <table align="center" cellpadding="0" cellspacing="10" width="930">
      <tr>
        <td width="600" valign='top'>
           <table align="center" cellpadding="5" cellspacing="15" width="100%">
              <tr>
                <td colspan='2' class="TitleString">Welcome to <b>Business Proffessionals Education Center</b></td>
              </tr>
              <tr>
                <td width="150">Photo Here!</td>
                <td class="NormalText">
                    Welcome description, BPEC information etc goes here.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </td>
              </tr>
           </table>
           <table align="center" cellpadding="5" cellspacing="10" width="100%">
              <tr>
                <td colspan='2' class="TitleString"><b>NEWS & EVENTS</b></td>
              </tr>
              <tr>
                <td class="NormalText" colspan="2">
                    <div class="LightBlueText">06-08-2013</div> 
                    <div class="TitleText">News title Lorem Ipsum has been the industry's standard dummy text.</div>
                    <div class="NormalText">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it..</div>
                </td>
              </tr>
              <tr>
                <td class="NormalText" colspan="2">
                    <div class="LightBlueText">06-08-2013</div> 
                    <div class="TitleText">News title Lorem Ipsum has been the industry's standard dummy text.</div>
                    <div class="NormalText">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it..</div>
                </td>
              </tr>
           </table>
        </td>
        <td width="330" valign='top'>
           <table align="center" cellpadding="0" cellspacing="5" width="90%">
              <tr><td><img src='~/Images/left-menu-inquiry.jpg' width="305" height="100" /></td></tr>
              <tr><td><img src='~/Images/left-menu-callback.jpg' width="305" height="100" /></td></tr>
              <tr><td style="background-color:#f1f1f1;"><img src='~/Images/left-menu-feedback.jpg' width="305" height="100" /></td></tr>
              <tr><td style="background-color:#f1f1f1;"><img src='~/Images/left-menu-careers.jpg' width="305" height="100" /></td></tr>
           </table>
        </td>
      </tr>
    </table>
    
